* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


#bg{
    height: 100vh;
    width: 100%;
    background-image: url('F:/CREATIONS/Web/Webloyalty/images/background.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  
}

a{
    text-decoration: none;
    color: black;
}


.container{
    height: 100vh;
    width: 100%;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;

}

.white-popup{

    height: 660px;
    width: 485px;
    background-color: white;
    border-radius: 30px;
    z-index: 1;
}

.text-block{

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Omnes";
}

.text-area{
    font-weight: bold;
    font-size: 20pt;
}

.promo{
    color: #F15755;
    font-size: 70pt;
    font-weight: 800;
    font-family: "Lato";
    margin-top: -10px;
}

.text-area2{
    font-size: 20pt;
    margin-top: -10px;
}

.email-field{
    height: 64px;
    width: 410px;
    background-color: #EBEBE9;
    border-radius: 30px;
    margin: 25px 0px 10px 0px;
    
}

.email-field input{
    border-style: none;
    background-color:#EBEBE9 ;
    font-family: "omnes";
    font-size: 16pt;
    margin-top: 15px;
    margin-bottom: auto;
    text-align: center;    

}

.email-field input[type="email"]:focus{
    border: none;
    outline: none;
 
}

button{
    height: 64px;
    width: 410px;
    background-color: #F15755;
    border-radius: 30px;
    margin-top: 30px;
   border: none;
}

button:hover{

   
    background-color:#e62a27;
    transition: 0.2s ease-in;
    cursor: pointer;

}

button:focus {

    outline: none;

}

.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 18pt;
    font-weight: 400;
}

.text-area3{
    font-weight: bold;
    margin-top: 30px;
    border-bottom-style: solid;
    font-size: 14pt;
}

.animation-box{
    
   
    height: 200px;
    padding: 10px 10px 10px 10px;
    margin-top: -10px ;
    width: auto;
    text-align: center;
    z-index: 10;
}


.the-box{
    z-index: 20;
    height:100%;
    overflow: visible;
}


.the-box svg{
   
    margin-top: -100px ;
    margin-bottom: 0px;
    height: 280px;
    display: flex;
    overflow: visible;
       
}


#ribbon-right, #ribbon-left{
animation: ribbon 0.4s infinite ease-in-out alternate ;
transform-origin: center;
animation-delay: 0.7s;

}

#small-ribbons{

    animation:small-ribbons 0.4s infinite ease-in-out alternate ;
    transform-origin: center;
    animation-delay: 0.7s;
}

#box{
    animation: gift 0.4s infinite ease-in-out alternate  ;
   transform-origin: center;
   animation-delay: 0.7s;
}

.cotillons{
    width: 580px;
    position: absolute;
    height: 280px;
    margin-bottom: 600px;
    
}

.cotillons svg{

    text-align: left;
    width: inherit;
    position: relative;
    z-index: 2;
    animation: down 2.5s forwards 0.8s ease-out, splash 0.6s ease, fade 3s forwards;
    
}



@keyframes ribbon{
  
    from{
        transform: rotateZ(0deg); 
    }
    to{
        transform: rotateZ(5deg);
    }
   
}


@keyframes small-ribbons{
    from{
        transform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(5deg);
    }
}


@keyframes gift{
    from{
        transform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(5deg);
    }
}

@keyframes splash{

    from{
        transform: scale(0);
       
    }

    to{
        transform: scale(1);
     
    }
  
}

@keyframes fade{

    10% {opacity:1;}
    100%{opacity: 0;}

}

@keyframes down{

    from{
        transform: translateY(0%);
    }

    to{
        transform: translateY(100%);
     
    }

}




